body {
  background-color: #428bca;
  color: white;
}
a {
  color: white;
}
a:hover {
  color: white;
}
.header {
  font-size: 8em;
  margin-top: 200px;
}
.header i {
  margin-right: 10px;
}
.links {
  font-size: 2.5em;
}
.links i {
  margin-left: 10px;
}
.header-block {
  margin-bottom: 200px;
}
.footer {
  text-align: center;
  padding: 20px 0;
}
.info {
  background-color: #e5e9ea;
}
.desc {
  color: #222222;
  padding: 10px;
  padding-top: 40px;
}
.desc .col-xs-5 h4 {
  martin-top: 20px;
  color: #428bca;
}
.desc .img-block {
  padding: 0;
}
.desc.needs-margin {
  padding-bottom: 50px;
}
.desc.needs-margin img {
  box-shadow: 0px 0px 50px 10px #656565;
  max-width: 450px;
}
.separator {
  border-top: solid 1px #BBB;
  width: 60%;
  margin: auto;
}
