body {
  background-color: #428bca;
  color: white;
}
a {
  color: white;
}
a:hover {
  color: white;
}
form .btn {
  margin-top: 15px;
}
form .required {
  color: #ff5500;
  padding-left: 3px;
  font-size: 0.9em;
}
.header {
  font-size: 8em;
  margin-top: 200px;
}
.header i {
  margin-right: 10px;
}
.links {
  font-size: 2.5em;
}
.links i {
  margin-left: 10px;
}
.header-block {
  padding-bottom: 200px;
  position: relative;
}
.header-block .bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.user-block {
  font-size: 1.1em;
  position: absolute;
  top: 20px;
  right: 20px;
}
.user-block a,
.user-block a:hover {
  text-decoration: none;
}
.footer {
  text-align: center;
  padding: 20px 0;
}
.info,
.main {
  background-color: #e5e9ea;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.desc {
  color: #222222;
  padding: 10px;
  padding-top: 40px;
}
.desc .col-xs-5 h4 {
  martin-top: 20px;
  color: #428bca;
}
.desc .img-block {
  padding: 0;
}
.desc.needs-margin {
  padding-bottom: 50px;
}
.desc.needs-margin img {
  box-shadow: 0px 0px 50px 10px #656565;
  max-width: 450px;
}
.separator {
  border-top: solid 1px #BBB;
  width: 60%;
  margin: auto;
}
.main {
  color: #222222;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.small-header {
  padding: 0 20px;
}
.small-header i {
  margin-right: 10px;
}
.small-header a,
.small-header a:hover {
  text-decoration: none;
}
.selectize-control .description {
  font-size: 12px;
  display: block;
  color: #a0a0a0;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
